<!-- list_selections.html -->
<!-- -------------------- -->
<!DOCTYPE html>
<html>
    <head>
        <title>My Web Page!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        Here are the selections:

         <ul>
            {%for book in selections%}
                <li>{{book[0]}}, {{book[1]}}, {{book[2]}}, {{book[3]}}. {{book[4]}}</li>
            {% endfor %}
        </ul>

        <table>
            {% for book in selections %}
                <tr>
                    <td> 
                        <input type="radio" name="select"value="{{id}}" />
                    </td>
                    <td>
                            {{book[0]}}
                    </td>                    
                    <td>
                            {{book[1]}}
                    </td>
                    <td>
                            {{book[2]}}
                    </td>
                    <td>
                            {{book[3]}}
                    </td>
                    <td>
                            {{book[4]}}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </body>
</html>