<!-- book.html -->
<!-- --------- -->
{% extends "layout.html" %}

{% block heading %}

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('logout') }}"">Logout</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    Book Information!
    <h1>Selected Book<br>
    {{username}}</h1>
    <br>
    ID: {{selection[0]}}<br>
    ISBN: {{selection[1]}}<br>
    Title: {{selection[2]}}<br>
    Author: {{selection[3]}}<br>
    Year: {{selection[4]}}<br>
    Goodread Rating: {{rating}}<br>
    <ul>
        {% if bookNotes: %}
            Comments:
            {% for note in bookNotes %}
                <li> {{note}}  </li>
            {% endfor %}
        {% endif %}
    </ul>
    <br>

    <form action="{{ url_for('book') }}" method="post">
        <div>

            <input type="text" name="notefield" placeholder="Enter Note Here">


            <select  name="select" value={{selection[0]}}>

            <input type="submit" value="Save my comment">

        </div>
    </form>

{% endblock %}