<!-- book.html -->
<!-- --------- -->
{% extends "layout.html" %}

{% block heading %}
    <nav>
        <ul>
            <b style="margin-right:200px;">The Book Club</b>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    Book Information!
    <h1>Selected Book</h1>
    <br>
    <div>
            <table  class="table table-striped table-bordered" 
            style="width:20%;margin-left:40%;">
            <tr>
                <td> ID: </td>
                <td> {{selection[0]}} </td>   
            </tr>
            <tr>
                    <td> ISBN: </td>
                    <td> {{selection[1]}} </td>  
            </tr>
            <tr>
                    <td> Title: </td>
                    <td> {{selection[2]}} </td>   
            </tr> 
            <tr>
                    <td> Author: </td>
                    <td> {{selection[3]}} </td>   
            </tr> 
            <tr>
                    <td> Year: </td>
                    <td> {{selection[4]}} </td>   
            </tr>    
            <tr>
                    <td> Goodread Rating: </td>
                    <td> {{rating}} </td> 
            </tr>                          
        </table>
    </div>
    <br>

    <div >
        {% if notes %}
            <h1>Reviewer Comments:</h1>
            <table  class="table table-striped table-bordered table-hover" 
                    style="width:60%;margin-left:20%;">
                <thead >
                    <tr>
                        <th>Username</th>
                        <th>User Comments</th>
                        <th>User Ratings</th>
                    </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                    <tr>
                        <td> {{ note[1] }} </td>
                        <td> {{ note[3] }} </td>
                        <td> {{ note[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
        {% endif %}
    </div>
    <br>

    <form action="{{ url_for('book') }}" method="post">
        <div>


            <table class='myTable' style="width: 30%;margin:auto;">
                <thead>
                    <tr>
                        <th>Check a Box</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><input type="radio" name="action" value="1" ></td>                    
                            <td> 1 - Did not like </td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="action" value="2" ></td>                    
                            <td> 2 - Could be better </td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="action" value="3" ></td>                    
                            <td> 3 - OK </td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="action" value="4" ></td>                    
                            <td> 4 - Good </td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="action" value="5" ></td>                    
                            <td> 5 - Great </td>
                        </tr>
                </tbody>
            </table>     
            <br>
            Write your <b>Comments</b> on this Book here:
            <br>
            <textarea name="notefield" rows="10" cols="30">Comment:  </textarea>
            <br><br>
            <input type="submit" value="Save my comment and review">
        </div>
    </form>

{% endblock %}