<!-- book.html -->
<!-- --------- -->
{% extends "layout.html" %}

{% block heading %}
    Hello!
{% endblock %}

{% block body %}
    <h1>Book, {{ id }}!</h1>
    <br>
    {{selection[0]}}<br>
    {{selection[1]}}<br>
    {{selection[2]}}<br>
    {{selection[3]}}<br>
    {{selection[4]}}<br>

    <ul>
        {% if notes: %}
            {% for note in notes %}
            <li> {{note}}  </li>
            {% endfor %}
        {% endif %}
    </ul>
    <br>
    {% if res: %}
        {{res}}
    {% else: %}
        No Goodread data for {{selection[2]}}
    {% endif %}
    
    <form action="{{ url_for('book') }}" method="post">
        <div>
            <input type="text" name="notefield" placeholder="Enter Note Here">
            <input type="text" name="select" value={{id}}>
            <input type="submit" value="Submit">

        </div>
    </form>

{% endblock %}