<!-- form.html -->
<!-- --------- -->

{% extends "layout.html" %}

{% block heading %}
    <nav>
        <ul>
            <b style="margin-right:200px;">The Book Club</b>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1>Form {{msg}}</h1>
    <br>
    Your username: {{username}}<br>
    Your password: {{password}}<br>
    Your email: {{email}}<br>
    <ul>
    {%for user in signedUpUsers%}
        <ul>{{user}}</ul>
    {% endfor %}
    </ul>

    <ul>
        {%for user in signedUpUsers%}
            <li>{{user[0]}}, {{user[1]}}, {{user[2]}}</li>
        {% endfor %}
    </ul>
    <br>
    <h1>Congratulations, Click the "Next" Button to go back to the Menu.</h1>
    <button type="button" onclick="window.location.href='{{ url_for( 'index') }}';">Home</button>
{% endblock %}
