<!-- form.html -->
<!-- --------- -->
<!DOCTYPE html>
<html>
    {% extends "layout.html" %}

    {% block heading %}
        Menu Action
    {% endblock %}

    {% block body %}
        <h1>You have successfully Registered.</h1>
        <br>
        Your email: {{email}}<br>
        Your username: {{username}}<br>
        Your password: {{password}}<br>

        <ul>
        {%for user in signedUpUsers%}
            <ul>{{user}}</ul>
        {% endfor %}
        </ul>

        <ul>
            {%for user in signedUpUsers%}
                <li>{{user[0]}}, {{user[1]}}, {{user[2]}}</li>
            {% endfor %}
        </ul>
        <br>
        <h1>Congratulations, Click the "Next" Button to Login.</h1>
        <button type="button" onclick="window.location.href='{{ url_for( 'index') }}';">Next</button>
    {% endblock %}
