<!-- goodread.html -->
<!-- ------------- -->
{% extends "layout.html" %}

{% block heading %}
    <nav>
        <ul>
            <b style="margin-right:200px;">The Book Club</b>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
{% endblock %}


{% block body %}
    Goodread sample
    <br>

    <div class="card-body">
        <h6 class="card-title"> Title </h6>
        <p class="card-text">{{ res[2] }}</p>
        <h6 class="card-title"> Author</h6>
        <p class="card-text">{{ res[3] }}</p>
        <h6 class="card-title"> Year </h6>
        <p class="card-text">{{ res[4] }}</p>
        <h6 class="card-title"> ISBN </h6>
        <p class="card-text">{{ res[1] }}</p>
        <h6 class="card-title"> Goodread Rating </h6>
    </div>
{% endblock %}