<!--index.html -->
<!-- --------- -->
{% extends "layout.html" %}

{% block heading %}
    Home
{% endblock %}

{% block body %}
<h1>What do you want to do?</h1>
        
<form action="{{ url_for('menu') }}" method="post">
    <div>
        <input name="action" type="radio" value="login"> Login <br>
        <input name="action" type="radio" value="register"> Register <br>
        <input name="action" type="radio" value="search"> Search <br>
        <input name="action" type="radio" value="other"> Other <br>
        <input type="submit" value="Send my Order">         
    </div>
</form>
{% endblock %}