<!--index.html -->
{% extends "layout.html" %}

{% block heading %}
    Login
{% endblock %}

{% block body %}
<form action="{{ url_for('login') }}" method="post">
    <input name="name" type="text" placeholder="User Name">
    <input name="password" type="password" placeholder="Password">
    <button>Submit</button>        
</form>

<h1>If you haven't registered then you won't be able to login!</h1>

<form action="{{ url_for('register') }}" method="post">
    <input name="name" type="text" placeholder="User Name">
    <input name="password" type="password" placeholder="Password">
    <button>Submit</button>        
</form>

<h1>Search for a Book!</h1>

<form action="{{ url_for('search') }}" method="post">
    <input name="isbn" type="text" placeholder="ISBN">
    <br>
    <input name="title" type="text" placeholder="Title">
    <br>
    <input name="author" type="text" placeholder="Author">    
    <br>
    <input name="year" type="text" placeholder="Year">
    <br>
    <button>Submit</button>        
</form>

{% endblock %}