<!-- list_selections.html -->
<!-- -------------------- -->
{% extends "layout.html" %}

{% block heading %}
    <nav>
        <ul>
            <b style="margin-right:200px;">The Book Club</b>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
{% endblock %}


{% block body %}

    <h1> Select the ID of the Book you are interested in.</h1>
    <div class="a">
        <form action="{{ url_for('book') }}" method="post">

            <table  class="table table-striped table-bordered table-hover" 
                    style="width:60%;margin-left:20%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in selections %}
                        <div>
                        <tr>
                            <td>
                                <input type="radio" name="select" value="{{book[0]}}" />
                            </td>                    
                            <td>
                                    {{book[1]}}
                            </td>
                            <td>
                                    {{book[2]}}
                            </td>
                            <td>
                                    {{book[3]}}
                            </td>
                            <td>
                                    {{book[4]}}
                            </td>
                        </tr>
                        </div>
                        {% endfor %}
                </tbody>
            </table>       
            <br>
            <input type="submit" value="Show me the Selected Book">
        </form>
    </div>
{% endblock %}
