<!-- search.html -->
<!-- ----------- -->
{% extends "layout.html" %}

{% block heading %}
    Search!
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('logout') }}"">Logout</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}    
    <h1>{{username}}</h1>       
    <h1>{{msg}}</h1>
    <br>
    <h1>Search for a Book!</h1>
    <br>
    <form action="{{ url_for('search') }}" method="post">
        <input name="isbn" type="text" placeholder="ISBN">
        <br>
        <input name="title" type="text" placeholder="Title">
        <br>
        <input name="author" type="text" placeholder="Author">    
        <br>
        <input name="year" type="text" placeholder="Year">
        <br>
        <input name="username" value={{username}}>
        <br>
        <input type="submit" value="Search for my Book">        
    </form>
{% endblock %}