<!-- search.html -->
<!-- ----------- -->
{% extends "layout.html" %}

{% block heading %}
    <nav>
        <ul>
            <b style="margin-right:200px;">The Book Club</b>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
{% endblock %}


{% block body %}    
    <h1> {{ username }}, {{msg}}</h1>
    <h1>Search for a Book!</h1>
    <form action="{{ url_for('search') }}" method="post">
        <input name="isbn" type="text" placeholder="ISBN">
        <br>
        <input name="title" type="text" placeholder="Title">
        <br>
        <input name="author" type="text" placeholder="Author">    
        <br>
        <input name="year" type="text" placeholder="Year">
        <br>
        <br>
        <input type="submit" value="Search for my Book">        
    </form>
{% endblock %}