<!--search.html -->
{% extends "layout.html" %}

{% block heading %}
    Search!
{% endblock %}

{% block body %}
<h1>Hi, {{username}}</h1>
<br>
<h1>Search for a Book!</h1>
<br>
<form action="{{ url_for('search') }}" method="post">
    <input name="isbn" type="text" placeholder="ISBN">
    <br>
    <input name="title" type="text" placeholder="Title">
    <br>
    <input name="author" type="text" placeholder="Author">    
    <br>
    <input name="year" type="text" placeholder="Year">
    <br>
    <input type="submit" value="Search for my Book">        
</form>

{% endblock %}