<!-- signup.html -->
<!-- ----------- -->
{% extends "layout.html" %}

{% block heading %}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}
Register:
<br>
<form action="{{ url_for('signup') }}" method="post">
    <div>
        <input name="name" type="text" placeholder="User Name"><br>
        <input name="password" type="password" placeholder="Password"><br>
        <input name="email" type="text" placeholder="Email Address"><br>
        <input type="submit" value="Accept my Credentials">
    </div>
</form>
{% endblock %}



